<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ ---------------------------------------------------------------------------
  ~  COPYRIGHT Alejandro Cardenas, acardenas.net, Saltillo,Coah, MX 2014.
  ~  All rights reserved.
  ~
  ~  The Copyright to the computer program(s) herein is the property of
  ~  Alejandro Raul Cardenas
  ~  The program(s) may be used and/or copied only with the written
  ~  permission from Alejandro Cardenas, or in
  ~  accordance with the terms and conditions stipulated in the
  ~  agreement/contract under which the program(s) have been supplied.
  ~  ---------------------------------------------------------------------------
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans:bean id="digestFilter"
                class="org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
        <beans:property name="userDetailsService" ref="userService" />
        <beans:property name="authenticationEntryPoint" ref="digestEntryPoint" />
    </beans:bean>
    <beans:bean id="digestEntryPoint"
                class="org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
        <beans:property name="realmName" value="Contacts Realm via Digest Authentication" />
        <beans:property name="key" value="acegi" />
    </beans:bean>


    <!-- the security namespace configuration -->
    <http use-expressions="true" entry-point-ref="digestEntryPoint">
        <intercept-url pattern="/**" access="isAuthenticated()" />

        <custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service id="userService">
                <user name="user1" password="user1Pass" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>